/* 
*/

h1 {
    Font-Family: 'Ruda', Sans-Serif;
    Font-Size: 48px;
    color: rgb(69, 96, 136);
}

p {
    Font-Family: 'Roboto Slab', Serif;
    Font-Size: 16px; 
    color: rgb(69, 96, 136);
}

a {
    Font-Family: 'Ruda', Sans-Serif;
    Font-Size: 16px; 
    color:rgb(224, 52, 29);
}

#intro {
    text-align: right;
    position: absolute;
    left: 34%;
    margin-left: -3px;
    top: 10%;
}

.vl {
    border-left: 6px dashed rgb(224, 52, 29);
    height: 1500px;
    position: absolute;
    left: 70%;
    margin-left: -3px;
    top: 0;
}

#redsun {
    top: 30%;
    left: 0%; 
    position: absolute;
}

#smallsun {
    float: right;
    top: 10%;
    right: 0%; 
    position: absolute;
}

#bottomsun {
    bottom: 0%;
    right: 45%; 
    position: fixed;
}

h5 {
    Font-Family: 'Ruda', Sans-Serif;
    Font-Size: 20px;
    color: rgb(69, 96, 136);
}

h6 {
    Font-Family: 'Ruda', Sans-Serif;
    Font-Size: 16px;
    color: rgb(69, 96, 136);
}

#portfoliohighlights {
    text-align: left;
    float: left;
    position: absolute;
    left: 72%;
    margin: 3px;
    top: 55%;
}

#projectone {
    Font-Size: 12px;
}

.portpic {
    float: left;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    border-width: 2px;
    border-style: dashed;
    border-color:rgb(224, 52, 29); 
}
  
footer {
    Font-Family: 'Ruda', Sans-Serif;
    Font-Size: 10px;
    color: rgb(69, 96, 136);
    position: fixed;
    bottom: 10px;
}